<!--<h1 id='logo'>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>-->


<nav class="blog-nav">
	<h1 id='logo' class="pull-left">
		<%= link_to Refinery::Core.site_name, refinery.root_path %>
	</h1>

	<div class="pull-right">
		<% Refinery::Page.where(parent_id:nil).all.each do |page| %>
			<% if @page.slug == page.slug %>
				<%= link_to page.menu_title, page, :class=>"blog-nav-item active" %>
			<% else %>
				<%= link_to page.menu_title, page, :class=>"blog-nav-item" %>
			<% end %>
		<% end %>
	</div>
</nav>
